body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #1877d7;
    color: whitesmoke;
    font-size: 1.5em;
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: calc(100vh - 100px);
    padding-top: 12%;
}

.container-carre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.carre1 {
    width: 100px;
    height: 100px;
    background-color: rgb(24, 204, 204);
    animation: rotation 3s infinite linear;
}

.carre2 {
    width: 100px;
    height: 100px;
    background-color: rgb(16, 208, 112);
    animation: rotation2 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
        background-color: rgb(24, 204, 204);
    }
    to {
        transform: rotate(360deg);
        background-color: rgb(16, 208, 112);
    }
}

@keyframes rotation2 {
    from {
        transform: rotate(360deg);
        background-color: rgb(16, 208, 112);
    }
    to {
        transform: rotate(0deg);
        background-color: rgb(24, 204, 204);
    }
}

.container-balle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid black; 
}

.balle {
    width: 50px;
    height: 50px;
    background-color: red; 
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    animation: rebondir 5s ease infinite;
}

@keyframes rebondir {
    0% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-350px); 
    }
    30% {
        transform: translateY(0);
    }
    45% {
        transform: translateY(-250px);
    }
    60% {
        transform: translateY(0);
    }
    70% {
        transform: translateY(-150px);
    }
    80% {
        transform: translateY(0);
    }
    85% {
        transform: translateY(-75px);
    }
    100% {
        transform: translateY(0);
    }
}


.load {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    gap: 10px;
    margin-top: 120px;
}

.loader1, .loader2, .loader3 {
    width: 100px;
    height: 100px;
    background-color: black;
    border-color: black;
    animation: load 3s infinite;
    border-radius: 50%;
}

@keyframes load {
    from {
        background-color:black;
    }
    to {
        background-color: rgb(0, 255, 4);
    }
}

.content2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: calc(100vh - 100px);
}

.descend {
    width: 100px;
    height: 100px;
    background-color: rgb(204, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transform-origin: top;
}

.descend a {
    text-decoration: none;
    font-size: 1.2em;
}

.descend:hover {
    animation: descendre 3s forwards;
}

.descend:not(:hover) {
    animation: remonter 3s forwards;
}

@keyframes descendre {
    0% {
        background-color: rgb(204, 24, 24);
        transform: scaleY(1);
    }
    100% {
        background-color: rgb(207, 193, 0);
        transform: scaleY(3); 
    }
}

@keyframes remonter {
    0% {
        background-color: rgb(207, 193, 0);
        transform: scaleY(3);
    }
    100% {
        background-color: rgb(204, 24, 24);
        transform: scaleY(1); 
    }
}

.Attente {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 600px;
    border: 1px solid black;
    position: relative; 
}

#ball1, #ball2, #ball3, #ball4, #ball5 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#ball1 {
    background-color: #42c4db;
    animation: attente 5s infinite, rotation-sur-place 1s linear infinite, colorBall1 5s infinite;
}

#ball2 {
    background-color: #e62bba;
    animation: attente 5s infinite, rotation-sur-place 1s linear infinite, colorBall2 5s infinite;
    animation-delay: 1s;
}

#ball3 {
    background-color: #c7cd17;
    animation: attente 5s infinite, rotation-sur-place 1s linear infinite, colorBall3 5s infinite;
    animation-delay: 2s;
}

#ball4 {
    background-color: #e01111;
    animation: attente 5s infinite, rotation-sur-place 1s linear infinite, colorBall4 5s infinite;
    animation-delay: 3s;
}

#ball5 {
    background-color: #1ead3b;
    animation: attente 5s infinite, rotation-sur-place 1s linear infinite, colorBall5 5s infinite;
    animation-delay: 4s;
}

@keyframes colorBall1{
    from {
        background-color: #42c4db;
    }
    to{
        background-color: #e62bba;
    }
}

@keyframes colorBall2{
    from {
        background-color: #e62bba;
    }
    to{
        background-color: #c7cd17;
    }
}

@keyframes colorBall3{
    from {
        background-color: #c7cd17;
    }
    to{
        background-color: #e01111;
    }
}

@keyframes colorBall4{
    from {
        background-color: #e01111;
    }
    to{
        background-color: #1ead3b;
    }
}

@keyframes colorBall5{
    from {
        background-color: #1ead3b;
    }
    to{
        background-color: #42c4db;
    }
}

@keyframes attente {
    0% {
        top: 0;
        left: 0;
    }
    30% {
        top: 0;
        left: calc(100% - 40px);
    }
    65% {
        top: calc(100% - 40px);
        left: calc(100% - 40px);
    }
    75% {
        top: calc(100% - 40px);
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes rotation-sur-place {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}

.content3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    position: relative;
}

.SystemSolaire {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    width: 800px; 
    height: 800px; 
}

.planet {
    position: absolute; 
    border-radius: 50%;
}

.soleil {
    background-image: url(/assets/img/soleil.png);
    background-size: cover; /* Pour s'assurer que l'image se redimensionne bien */
    background-position: center;
    width: 150px; /* Taille fixe adaptée */
    height: 150px;
    z-index: 10; 
    left: calc(50% - 75px); /* Centrage horizontal */
    top: calc(50% - 75px);  /* Centrage vertical */
}

.mercure {
    background-image: url(/assets/img/Mercure.png);
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    z-index: 10;
    left: calc(50% - 100px); 
    top: calc(50% - 100px);  
    animation: rotateMercure 3s infinite linear;
}

.venus {
    background-image: url(/assets/img/Venus.png);
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    z-index: 10;
    left: calc(50% - 150px); 
    top: calc(50% - 150px);  
    animation: rotateVenus 5s infinite linear;
}

.terre {
    background-image: url(/assets/img/terre.png);
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    z-index: 10;
    left: calc(50% - 200px); 
    top: calc(50% - 200px);  
    animation: rotateTerre 7s infinite linear;
}


@keyframes rotateMercure {
    0% {
        transform: rotate(0deg) translateX(200px) rotate(0deg); 
    }
    100% {
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}

@keyframes rotateVenus {
    0% {
        transform: rotate(0deg) translateX(300px) rotate(0deg); 
    }
    100% {
        transform: rotate(360deg) translateX(300px) rotate(-360deg); 
    }
}

@keyframes rotateTerre {
    0% {
        transform: rotate(0deg) translateX(400px) rotate(0deg); 
    }
    100% {
        transform: rotate(360deg) translateX(400px) rotate(-360deg); 
    }
}