body {
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #1877d7;
    color: whitesmoke;
    font-size: 1.5em;
    margin: 0;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: calc(100vh - 100px);
    padding-top: 12%;
}

.container-carre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.carre1 {
    width: 100px;
    height: 100px;
    background-color: rgb(24, 204, 204);
    animation: rotation 3s infinite linear;
}

.carre2 {
    width: 100px;
    height: 100px;
    background-color: rgb(16, 208, 112);
    animation: rotation2 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation2 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.container-balle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid black; 
}

.balle {
    width: 50px;
    height: 50px;
    background-color: red; 
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    animation: rebondir 4s ease infinite;
}

@keyframes rebondir {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-350px); 
    }
    40% {
        transform: translateY(0);
    }
    55% {
        transform: translateY(-250px);
    }
    70% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-150px);
    }
    90% {
        transform: translateY(0);
    }
    95% {
        transform: translateY(-75px);
    }
    100% {
        transform: translateY(0);
    }
}


.load {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    gap: 10px;
    margin-top: 120px;
}

.loader1, .loader2, .loader3 {
    width: 100px;
    height: 100px;
    background-color: black;
    border-color: black;
    animation: load 3s infinite;
    border-radius: 50%;
}

@keyframes load {
    from {
        background-color:black;
    }
    to {
        background-color: rgb(0, 255, 4);
    }
}

.content2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: calc(100vh - 100px);
}

.descend {
    width: 100px;
    height: 100px;
    background-color: rgb(204, 24, 24);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.descend a {
    text-decoration: none;
    font-size: 1.2em; 
}

.descend:hover {
    animation: descendre 3s forwards; 
}

.descend:not(:hover) {
    animation: remonter 3s forwards; 
}

@keyframes descendre {
    0% {
        background-color: rgb(204, 24, 24);
        padding-bottom: 0px;
    }
    100% {
        background-color: rgb(207, 193, 0);
        padding-bottom: 300px; 
    }
}

@keyframes remonter {
    0% {
        background-color: rgb(251, 0, 0);
        padding-bottom: 300px;
    }
    100% {
        background-color: rgb(207, 193, 0);
        padding-bottom: 0px; 
    }
}

.Attente {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    width: 600px;
    border: 1px solid black;
    position: relative; 
}

#ball1, #ball2, #ball3, #ball4, #ball5 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: attente 5s infinite, rotation-sur-place 1s linear infinite; 
}

#ball1 {
    background-color: #42c4db;
}

#ball2 {
    background-color: #e62bba;
    animation-delay: 1s;
}

#ball3 {
    background-color: #c7cd17;
    animation-delay: 2s;
}

#ball4 {
    background-color: #e01111;
    animation-delay: 3s;
}

#ball5 {
    background-color: #1ead3b;
    animation-delay: 4s;
}

@keyframes attente {
    0% {
        top: 0;
        left: 0;
    }
    30% {
        top: 0;
        left: calc(100% - 40px);
    }
    65% {
        top: calc(100% - 40px);
        left: calc(100% - 40px);
    }
    75% {
        top: calc(100% - 40px);
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes rotation-sur-place {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}

.content3 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: calc(100vh - 100px);
}

.Anim3D {
    width: 75%; 
    height: 75%; 
    position: relative;
    perspective: 1000px; 
    margin: 0 auto;
    border: 1px solid black;
}

.carousel-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: deplacement-carousel 4s infinite linear; /* Animation de déplacement */
}

.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear; /* Animation de rotation */
}

.carousel_item {
    width: 50px; 
    height: 50px; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform-style: preserve-3d;
    transform-origin: center center -100px; 
    background-color: rgba(255, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em; 
}

.carousel_item:nth-child(1) { transform: rotateY(0deg) translateZ(100px); }
.carousel_item:nth-child(2) { transform: rotateY(72deg) translateZ(100px); }
.carousel_item:nth-child(3) { transform: rotateY(144deg) translateZ(100px); }
.carousel_item:nth-child(4) { transform: rotateY(216deg) translateZ(100px); }
.carousel_item:nth-child(5) { transform: rotateY(288deg) translateZ(100px); }

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes deplacement-carousel {
    0% {
        transform: translateX(-700px);
        transform: translateY(-250px);
    }
    25% {
        transform: translateX(500px); 
        transform: translateY(-250px);
    }
    50% {
        transform: translateX(500px);
        transform: translateY(250px);
    }
    75% {
        transform: translateX(-500px);
        transform: translateY(250px);
    }
    100% {
        transform: translateX(-500px);
        transform: translateY(-250px);
    }
}
